@media screen and (min-width: 320px) and (max-width: 767px){
.our-team {

  &__header {
    font-family: var(--main-font);
    text-align: center;
    font-weight: var(--font-weight-700);
    padding: 30px 15px;
    padding-top: 60px;
    font-size: var(--font-size-36);
    line-height: var(--line-height-1_172);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }

  &__item {
    width: 450px;
    background: var(--ideal-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 450px;
    height: auto;
    margin-bottom: 10px;

  }

  &__photo-header {
    text-align: center;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
    line-height: var(--line-height-1_172);
    margin-bottom: 10px;
  }

  &__photo-description {
    text-align: center;
    width: auto;
    color: var(--main-color);
    margin-bottom: 16px;
  }
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    &__header {
      font-family: var(--main-font);
      text-align: center;
      font-weight: var(--font-weight-700);
      padding: 30px 15px;
      padding-top: 60px;
      font-size: var(--font-size-28);
      line-height: var(--line-height-1_172);
    }

    &__list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 60px;
    }

    &__item {

      background: var(--ideal-white-color);
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin: 15px;
    }

    &__img {
      width: 354px;
      height: auto;
      margin-bottom: 10px;

    }

    &__photo-header {
      text-align: center;
      font-weight: var(--font-weight-500);
      font-size: var(--font-size-16);
      line-height: var(--line-height-1_172);
      margin-bottom: 10px;
    }

    &__photo-description {
      text-align: center;
      width: auto;
      color: var(--main-color);
      margin-bottom: 16px;
    }
  }
}


@media screen and (min-width: 1200px) {
  .our-team {
    &__header {
      font-family: var(--main-font);
      text-align: center;
      font-weight: var(--font-weight-700);
      padding: 30px 15px;
      padding-top: 94px;
      margin-bottom: 50px;
      font-size: var(--font-size-36);
      line-height: var(--line-height-1_172);
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 94px;
    }

    &__item {

      background: var(--ideal-white-color);
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin: 15px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__img {
      width: 270px;
      height: auto;
      margin-bottom: 10px;

    }

    &__photo-header {
      text-align: center;
      font-weight: var(--font-weight-500);
      font-size: var(--font-size-16);
      line-height: var(--line-height-1_172);
      margin-bottom: 10px;
    }

    &__photo-description {
      text-align: center;
      width: auto;
      color: var(--main-color);
      margin-bottom: 16px;
    }
  }
}































// ____________________________________________________________________________
// @media screen and(min-width: 1200px){
// .our-team {
//   &__header {
//     text-align: center;
//     font-weight: var(--font-weight-700);
//     padding-top: 94px;
//     padding-bottom: 50px;
//     font-size: var(--font-size-36);
//     text-align: center;
//     line-height: var(--line-height-1_172);
//   }

//   &__list {
//     display: flex;
//     justify-content: center;
//     padding-bottom: 94px;
//   }

//   &__item {
//     width: 270px;
//     height: 428px;
//     background: var(--ideal-white-color);
//     border-radius: 0px 0px 4px 4px;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;

//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }

//   &__figure,
//   &__img {
//     margin: 0;
//   }

//   &__figure,
//   &__photo-description {
//     text-align: center;
//   }

//   &__figcaption {
//     padding-top: 30px;
//   }

//   &__photo-description {
//     color: var(--main-color);
//   }
// }
// }