@media screen and (min-width: 320px) {

  .logo {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 60px;
    margin-left: 15px;


    &__link {
      font-family: var(--secondary-font);
      color: var(--font-black-color);
      font-weight: var(--font-weight-700);
      font-size: var(--font-size-26);
      line-height: var(--line-height-1_192);
      letter-spacing: var(--letter-spacing-003em);

      &_footer {
        color: var(--ideal-white-color);
        margin: auto;
      }
    }

    &__accent {
      color: var(--secondary-color);
    }
  }
}


@media screen and (min-width: 767px) {

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin: 0px;

  &__link {
    font-family: var(--secondary-font);
    color: var(--font-black-color);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-26);
    line-height: var(--line-height-1_192);
    letter-spacing: var(--letter-spacing-003em);
    
    &_footer {
      color: var(--ideal-white-color);
      margin: auto;
    }
  }

  &__accent {
    color: var(--secondary-color);
  }
}
}