
.mobile {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: white;
    transition: var(--transition-cubic-bezier-backdrop-750ms);


    &__nav {
        font-size: 40px;
        margin-top: 8px;
        margin-bottom: 300px;
    }

    &__item:not(:last-child) {
        margin-bottom: 36px;
    }

    &__contact {
        display: flex;
        flex-direction: column;
    }

    &__callto {
        font-weight: var(--font-weight-500);
        font-size: var(--font-size-34);
        line-height: var(--line-height-1_172);
        letter-spacing: var(--letter-spacing-002em);
        color: var(--secondary-color);
        margin-bottom: 32px;
    }

    &__mailto {
        font-weight: var(--font-weight-500);
        font-size: var(--font-size-24);
        line-height: var(--line-height-1_172);
        letter-spacing: var(--letter-spacing-002em);
        color: var(--main-color);
        margin-bottom: 64px;
    }
    &__socials {
        display: flex;
        justify-content: flex-start;
        font-size: var(--font-size-18);
        line-height: var(--line-height-1_222);
    }

    &__socials-item:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(21, 21, 21, 0.2);
    }

    &__socials-item:not(:first-child) {
        padding-left: 10px;
    }

    &__socials-link {
        color: var(--secondary-color);
    }
}

.mobile-close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    background: var(--ideal-white-color);
    border: none;
    cursor: pointer;
    fill: var(--ideal-black-color);
    }


.mobile-close-btn svg {
    width: 11px;
    height: 11px;
}


// DO SPRAWDZENIA

    .mobile-open-btn {
        display: block;
        margin-right: 15px;
        margin-left: auto;
        width: auto;
        height: auto;
        background: var(--ideal-white-color);

        border: none;
        cursor: pointer;
        border-radius: var(--border-radius-50);
        fill: var(--ideal-black-color);
    }

    .mobile-open-btn svg {
        display: flex;
        width: 40px;

   
    }

@media screen and (min-width: 768px) {
.mobile-open-btn {
        display: none;
}
}