@media screen and (min-width: 320px) and (max-width: 767px){
  
.newsletter {
  &__wrapper {
    display: flex;
  }
  &__text {
    margin-top: 0px;
    margin-bottom: 20px;
    display: block;
    width: 100vw;
    font-family: var(--main-font);
    text-align: center;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-700);
    text-transform: uppercase;
    line-height: var(--line-height-1_172);
    letter-spacing: var(--letter-spacing-003em);
    color: var(--ideal-white-color);
  }

  &__form {

    display: block;
     width: auto;
    height: auto;
  }

  &__input {
    display: block;
    margin: 0 auto 20px;
    font-size: var(--font-size-16);
    line-height: var(--line-height-1_250);
    letter-spacing: var(--letter-spacing-003em);
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--transparent-color);
    padding-left: 16px;
    min-width: 370px;
    max-width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
  }

  &__btn {

    display: block;
    margin: 0 auto 60px;
    top: 48px;
    left: 370px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 42px;
    padding-right: 24px;
    width: 200px;
    height: 50px;
    color: var(--ideal-white-color);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-16);
    line-height: var(--line-height-1_875);
    letter-spacing: var(--letter-spacing-006em);
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius-4);
  }

  &__icon {
    display: block;
    margin-left: 20px;
    margin-right: 13px;
    width: 24px;
    height: 24px;
    fill: var(--ideal-white-color);
  }
  }
}


@media screen and (min-width: 767px) and (max-width: 1199px) {

  .newsletter {
    &__wrapper {
      display: flex;
    }

    &__text {
      margin: 0 0 20px 0;
      display: flex;
      justify-content: center;
      font-family: var(--main-font);
      text-align: left;
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-700);
      text-transform: uppercase;
      line-height: var(--line-height-1_172);
      letter-spacing: var(--letter-spacing-003em);
      color: var(--ideal-white-color);
    }

    &__form {
      display: block;
      width: auto;
      height: auto;
    }

    &__input {
      display: block;
      margin: 0 auto 20px;
      font-size: var(--font-size-16);
      line-height: var(--line-height-1_250);
      letter-spacing: var(--letter-spacing-003em);
      color: rgba(255, 255, 255, 0.6);
      background-color: var(--transparent-color);
      padding-left: 18px;
      width: 450px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
    }

    &__btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding-left: 42px;
      padding-right: 24px;
      width: 200px;
      height: 50px;
      color: var(--ideal-white-color);
      font-weight: var(--font-weight-700);
      font-size: var(--font-size-16);
      line-height: var(--line-height-1_875);
      letter-spacing: var(--letter-spacing-006em);
      background-color: var(--secondary-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: var(--border-radius-4);
    }

    &__icon {
      display: block;
      margin-left: 20px;
      margin-right: 13px;
      width: 24px;
      height: 24px;
      fill: var(--ideal-white-color);
    }
  }
}



@media screen and (min-width: 1200px) {

  .newsletter {
    &__wrapper {
      display: flex;
    }

    &__text {
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 20px;
      display: block;
      font-family: var(--main-font);
      text-align: left;
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-700);
      text-transform: uppercase;
      line-height: var(--line-height-1_172);
      letter-spacing: var(--letter-spacing-003em);
      color: var(--ideal-white-color);
    }

    &__form {
      position: relative;
      display: flex;
      justify-content: left;
      width: 185 px;
      height: auto;
    }

    &__input {
      display: block;
      margin: 0 auto 20px;
      font-size: var(--font-size-16);
      line-height: var(--line-height-1_250);
      letter-spacing: var(--letter-spacing-003em);
      color: rgba(255, 255, 255, 0.6);
      background-color: var(--transparent-color);
      padding-left: 16px;
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
    }

    &__btn {
      display: block;
      margin-top: 38px;
      margin-left: 12px;
      top: 38px;
      left: 460px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding-left: 42px;
      padding-right: 24px;
      width: 200px;
      height: 50px;
      color: var(--ideal-white-color);
      font-weight: var(--font-weight-700);
      font-size: var(--font-size-16);
      line-height: var(--line-height-1_875);
      letter-spacing: var(--letter-spacing-006em);
      background-color: var(--secondary-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: var(--border-radius-4);
    }

    &__icon {
      display: block;
      margin-left: 20px;
      margin-right: 13px;
      width: 24px;
      height: 24px;
      fill: var(--ideal-white-color);
    }
  }
}