.container {
  width: 100%;
  padding: 0 15px;

  
}

@media screen and (min-width: 480px){
.container {
  max-width: 480px;
  // padding: 0 15px;
  // margin: 15 auto;
}

  .header & {
    display: flex;
    align-items: center;
  }

  .our-team & {
    background-color: #f5f4fa;
    width: 100%;
  }

  .clients & {
    margin-bottom: 94px;
    display: flex;
    justify-content: center;
  }
}




// .container {
//   width: 1200px;
//   align-items: center;
//   margin: 0 auto;

//   .header & {
//     display: flex;
//     align-items: center;
//   }

//   .our-team & {
//     background-color: #f5f4fa;
//     width: 100%;
//   }

//   .clients & {
//     margin-bottom: 94px;
//     display: flex;
//     justify-content: center;
//   }
// }
